body{
    background-image: url(Fundo\ academia.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: normal 15pt Arial;
    }

header{
    color: rgb(2, 1, 8);
    text-align: center;
}

section{
    background: rgba(3, 14, 12, 0.274);
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        margin: auto;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.404);
}

footer{
    color: rgb(1, 1, 12);
    text-align: center;
    font-style: italic;
}
input.botao {
    display: block;
    font-weight: bolder;
    width: 150px;
    padding: 5px 2px;
    margin: 0 auto;
}
div {
    text-align: center;
    color:rgb(3, 2, 10);
}
input {
    text-align: center;
}